{{ $src := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $caption := .PlainText }}

<!-- Not a page resource must be an external link -->
{{ if not $src }}

{{ $id := md5 .Destination }}
<figure id="{{ $id }}">
  <div data-featherlight="#{{ $id }}" class="figure">
    <img src="{{ .Destination }}" alt="{{ $caption }}" />
  </div>
  <figcaption>
    {{ $caption }}
  </figcaption>
</figure>

{{ else }}

{{ $id := md5 $src }}
{{ $filename := path.Join .Page.File.Dir $src }}
{{ if ( hasSuffix $filename ".svg" ) }}
  {{ $data := readFile $filename }}
  {{ $data = strings.ReplaceRE `(?ms)<style class="style-fonts">.+?</style>` `` $data }}

<figure id="{{ $id }}">
  <div data-featherlight="#{{ $id }}" class="figure">
    {{ $data  | safeHTML}}
  </div>
  <figcaption>
    <a class="image-link" href="{{ $src }}"><i class="fa fa-download"></i></a>
    {{ $caption }}
  </figcaption>
</figure>

{{ else }}

{{ if and ( hasSuffix $filename ".png" ) ( lt $src.Height 200 )}}

<img class="inline" src="{{ $src }}" />

{{ else }}

<figure id="{{ $id }}">
  <div data-featherlight="#{{ $id }}" class="figure">
    <img src="{{ $src }}" alt="{{ $caption }}">
  </div>
  <figcaption>
    <a class="image-link" href="{{ $src }}"><i class="fa fa-download"></i></a>
    {{ $caption }}
  </figcaption>
</figure>

{{ end }}
{{ end }}
{{ end }}
