
@font-face {
    font-family: Excalifont;
    src: url("https://docs.velociraptor.app/fonts/playpen-sans-v13-latin-500.woff2");
}

@font-face {
    font-family: Nunito;
    src: url("/fonts/playpen-sans-v13-latin-800.woff2");
}

@font-face {
    font-family: Comic Shanns;
    src: url("/fonts/SVBasicManual.woff2");
}

html body {
    color: var(--MAIN-TEXT-color) !important;
    background-color: var(--MAIN-TEXT-background-color);
}


textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

body a {
    color: var(--MAIN-LINK-color);
}

body a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}


#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar li.active > div a {
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > div {
    padding-right: 20px;
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

div.section {
    opacity: 1;
}

h1 {
    text-transform: capitalize;
}

pre {
    background: var(--CODE-SECTION-BG-color);

}

pre code, pre.code {
    font-size: 14pt;
}

div.progress  {
    height: auto;
    overflow: auto;
    background-color: var(--progress);
}

body.dark span.hljs-keyword {
    color: #00E5FF55;
}

body.light code.hljs {
    color: black;
}

body.dark code.hljs {
    color: white;
}


footer.footline {
    border-top: 1px none;
    border-top: var(--footer-color);
}

.vql_type.page-header {
    margin-top: -30px;
}

table .vql_type {
    padding: 20px;
}

.vql_type {
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    color: var(--vql);
}

h4.subtitle {
    text-align: center;
    font-style: italic;
}

blockquote h1 {
    font-size: 2rem;
}


div.mynotices {
    margin: 2rem 0;
    position: relative;
}

div.mynotices > div {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: var(--mynotice);
}

div.mynotices.tip > div:first-child:before {
    content: "\f0eb";
}

div.mynotices.note > div:first-child:before {
    content: "\f249";
}

div.mynotices.warning > div:first-child:before {
    content: "\f1e2";
}


div.mynotices > div:first-child:before {
    position: absolute;
    top: 2px;
    color: var(--mynotices-first-child);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06a";
    left: 10px;
}

div.mynotices > div:first-child:after {
    position: absolute;
    top: 2px;
    color: var(--mynotices-first-child);
    left: 2rem;
}

div.mynotices.info > div {
    border-top: 30px solid var(--mynotice-info-border);
    background: var(--mynotice-info-background);
}

div.mynotices > div:first-child:after {
    content: attr(heading);
    text-transform: capitalize;
    color: var(--mynotices);
}

div.mynotices.warning > div {
    border-top: 30px solid var(--mynotice-warning-border);
    background: var(--mynotice-warning-background);
}

div.mynotices.note > div {
    border-top: 30px solid var(--mynotice-note-border);
    background: var(--mynotice-note-background);
}

div.mynotices.tip > div {
    border-top: 30px solid var(--mynotice-tip-border);
    background: var(--mynotice-tip-background);
}

#body img.shadow, #body .video-container.shadow {
    box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
}

a[data-featherlight] img {
    box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--h-num);
    text-align: left;
    line-height: 1.2;
    display: block;
    margin-bottom: 1rem;
}

h2 {
    font-size: 28px;
}

h1 {
    font-size: 34px;
}

div#header {
    height: 166px;
}

ul.topics {
    width: 300px;
}


ul.topics li {
    overflow: hidden;
    border-top: 1px solid var(--topic-top);
    border-bottom: 1px solid var(--topic-bottom);
}

.copy-to-clipboard {
    display: none;
}

pre:hover .copy-to-clipboard {
    display: inline;
    width: 45px;
    height: 3rem;
    border-radius: 5px;
}

code.hljs {
    background-color: var(--CODE-SECTION-BG-color);
    color: white ;
}

.ThemeSelector {
    float: right;
}

.vql_type {
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    color: var(--vql);
}

.pull-right {
    position: relative;
    float: right;
}

.label.label-success {
    margin: 5px;
}

.gsc-search-box td, .gsc-search-box table {
    border: none;
}

div.gsc-adBlock {
    display: none !important;
}


#sidebar {
    font-size: 1rem;
}

code {
    font-size: 1rem !important;
}

html, body {
    font-size: 110% !important;
}


#myCarousel.carousel img {
    max-width: 100%;
}

.carousel .content {
    background-color: var(--CODE-SECTION-BG-color);
}

.carousel-row {
    margin-top: 40px;
}


div.logo-btn i {
    float: left;
    padding-top: 0.1em;
}

iframe.youtube {
    height: 60vh;
    width: 100%;
}

.carousel-choices {
    margin-top: 10px;
}



.carousel-description {
    height: 6rem;
}

button.topic {
    overflow-x: hidden;
}

li.dd-item i {
    width: 32px;
}

li.dd-item i.fa-sm {
    width: 16px;
}


#sidebar ul.topics hr {
    margin: 10px;
    border-bottom: none;
}


#shortcuts li {
    line-height: 2rem;
    font-size: 1.1rem;
    overflow: hidden;
    border-top: 1px solid var(--shortcut-border-t);
    border-bottom: 1px solid var(--shortcut-border-d);
}

#shortcuts h3 {
    display: none;
}

#shortcuts i {
    width: 32px;
}

.footer-copyright {
    position: fixed;
    bottom: 0px;
    margin-top: 40px;
    height: 80px;
    background: var(--footer-background);
    width: 300px;
    margin-left: -18px;
    padding-left: 18px;
    padding-top: 10px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

@media only all and (max-width: 75.938em) {
    div.exchange-contribute {
        width: 100%;
    }
    div.exchange-contribute button {
        width: 100%;
        margin-top: 20px;
    }
}

@media only all and (max-width: 59.938em) {
    .footer-copyright {
        width: 230px;
    }
}

@media only all and (max-width: 47.938em) {
    .footer-copyright {
        display: none;
    }
}

.rapid7 {
    height: 16px;
    float: right;
    padding-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div .border {
    border-radius: 5px;
    border: 30px black;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    margin-top: -1px; /* Prevent double borders */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.linkcolour {
    color: var(--MAIN-LINK-color);
    word-spacing: 3px;
}

a.tag:hover {
    text-decoration: none;
}

body.dark .color {
    background-color: var(--MAIN-TEXT-background-color);
    color: white;
}

div.search_results img.user-avatar {
    float: right;
    padding: 0;
    margin: 0 !important;
    height: 32px;
    display: flex;
}

.tag {
    cursor: pointer;
    padding: 8px;
}

.space {
    word-spacing: 3px;
}

#sidebar ul li.dd-item {
    width: 100%;
}

#sidebar ul li.dd-item a {
    display: inline;
}

#sidebar ul.topics > li.parent div, #sidebar ul.topics > li.active div {
    padding-right: 0;
}

#sidebar ul li.active > div {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

a.menu-opener.open i.fa-chevron-right, a.menu-opener.folded i.fa-chevron-down {
    display: none;
}

.search_results {
        margin-top: 20px;
}

.idea-tag, .searchbar {
    margin-top: 1em;
}

.user-name {
    font-size: 75%;
}


p.egg {
    display: none;
}

.args th {
    background: var(--MENU-SECTION-BG-color);
    padding: 10px;
    border: 0px;
}

table thead th {
    background: var(--TABLE-HEADER-background-color);
    color: var(--TABLE-HEADER-color);
}


.args table {
    border: none;
}

.args td {
    padding: 10px;
    border-right: none;
    border-left: none;
}

.vqlargs + table {
    margin-top: 3em;
    margin-bottom: 3em;
}

.vqlargs + table td {
    padding: 10px;
}

.vqlargs + table th {
    background: var(--CODE-SECTION-BG-color);
    padding: 10px;
}


body:after{
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: var(--BETA-color);
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    transform:rotate(-45deg);
}

#body img.captioned {
    margin-bottom: 1ex;
}

figcaption  {
    display: block;
    font-size: .875rem;
    font-style: italic;
    color: var(--gray-600);
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
}

.author {
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 0;
    color: var(--MAIN-Author);
    font-weight: 400;
}

.date {
    display: block;
    color: var(--MAIN-Date);
}

#body .banner img {
    max-width: 100%;
}

.modal-dialog.wide {
    width: 90%;
}

.kb-tag {
    margin: 0px;
}

.kb-tag .idea-tag {
    margin: 0px;
    padding: 0px;
}


.item-comment {
    margin-top: 20px;
    padding-left: 20px;
    color: var(--MAIN-TEXT-color);
}

.reference-key {
    padding-right: 1ex;
}

.reference-key,
.reference-value-sequence,
.reference-value-mapping {
    display: inline;
}

.reference-value-mapping,
.reference-value-sequence {
    color: var(--REFERENCE-value-color);
}

.reference-document {
    font-family: monospace, Consolas, Courier Prime, Courier, Courier New;
}

.reference-document ul {
    list-style-type: none;
}

.reference-value-mapping > ul {
    border: var(--REFERENCE-border-color);
    border-style: dashed;
    margin-left: 0px;
}

.reference-value-sequence > ul {
    margin-left: 0px;
}

.multiline-value {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    padding-left: 40px;
}

.bullet-placeholder {
    padding: 10px;
    display: inline;
}

.anchorlink {
    float: right;
    padding-right: 20px;
    color: var(--REFERENCE-value-color);
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}

#body-inner table {
    margin: 30px;
}

#body-inner table tbody {
    border-top-color: black;
    border-bottom-color: black;
    border-style: solid;
    border-width: 3px;
}

.search_results table {
    width: -webkit-fill-available;
}

#body-inner .search_box tbody {
    border-style: none;
}

#body-inner .search_box .gsc-input table {
    margin: 0;
}

td.hash {
    font-family: mono;
    font-size: small;
}

td.signature {
    text-align: center;
}

.platform {
    height: 32px;
    display: flex;
    padding-right: 10px;
}


.featherlight-content {
    width: 90%;
}

.featherlight-content .figure {
    max-width: none;
}

.featherlight-content svg {
    max-height: 80vh;
}

figure div.figure {
    cursor: pointer;
    margin: 0 auto;
    max-width: 600px;
}

figure div.figure svg,
figure div.figure img {
    width: 100%;

    height: auto;
}

.featherlight .featherlight-content img {
    margin: 0 auto !important;
}

.image-link {
    padding-right: 20px;
    color: var(--REFERENCE-value-color);
}

.image-link:hover {
    color: var(--REFERENCE-value-color);
}
