{{/* Site favicons - override the Blowfish module defaults with the
     Velociraptor branding from static/images/. */}}
<link rel="icon" type="image/x-icon" href="{{ "images/favicon.ico" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicon.png" | relURL }}">
<link rel="manifest" href="{{ "site.webmanifest" | relURL }}">