
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>

<div class="search-box">
  <div class="input-group">
    <input type="text" id="myInput" onkeyup="doSearchArtifacts()" class="form-control"
           placeholder="Search for an artifact" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2"><i class="fas fa-search"></i></span>
  </div>
</div>

<div class="row search_results"></div>

<script>
  initArtifactReference();
</script>
