
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>

<div class="search-box">
<div class="input-group">
  <span class="input-group-addon" id="prev-page"><i class="fas fa-arrow-left"></i></span>
  <span class="input-group-addon" id="start-count"></span>
  <input type="text" id="myInput" onkeyup="doSearchDelay()" class="form-control" placeholder="Search site" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="page-count"></span>
  <span class="input-group-addon" id="next-page"><i class="fas fa-arrow-right"></i></span>
</div>
<div class="search-shortcuts">
  <a class="space tag" onclick="searchShortcutTag('Blog')">
    <i class="linkcolour label label-success">Blog</i></a>
  <a class="space tag" onclick="searchShortcutTag('Docs')">
    <i class="linkcolour label label-success">Docs</i></a>
  <a class="space tag" onclick="searchShortcutTag('KB')">
    <i class="linkcolour label label-success">KB</i></a>
  <a class="space tag" onclick="searchShortcutTag('Artifacts')">
    <i class="linkcolour label label-success">Artifacts</i></a>
  <a class="space tag" onclick="searchShortcutTag('VQLReference')">
    <i class="linkcolour label label-success">VQLReference</i></a>
  <a class="space tag" onclick="searchShortcutMust()">
    <i class="linkcolour label label-success">Must Contain All terms</i></a>

</div>
</div>

<div class="search_results">
Search this website by entering keywords above.
</div>

<script>
  searchUrl = "{{ .Site.Params.searchURL }}";

  initSearch();
  $("#next-page").click(SearchPageForward);
  $("#prev-page").click(SearchPageBack);
  $("#top-bar").addClass("hidden");
</script>
